*{
	 box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;  
	font-family: Arial;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
        margin-bottom: 150px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.content-form {
    background-color: white;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin-top: 0;
    overflow: auto;
    padding: 0px 30px;
    width: 768px;
    margin: auto;
    border-radius: 10px;
}
.sub-title {
	font-family: Arial;
	font-size: 15px;
    text-align: center;
    font-size: 1.5em;
    color: black;
	padding-top:20px;
    margin: 20px auto;
}
.sub-title:after {
    content: "";
    width: 100px;
    height: 2px;
    background:#ffc927;
    display: block;
    margin: auto;
}
.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #6D6D6D;
    margin-bottom: 5px;
} 
.txt2{
	color: #C5C5C5;
	padding-top:20px;
	padding-bottom:20px;
}
.sub-form {
	font-family: Arial;
	font-size: 15px;
    width: 100%;
    text-align: left;
    padding: 5px 5px;
    color: #000000;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.width-4 {
    width: 33.3%;
}
.width-6 {
    width: 50%;
}
.width-12{
	width: 100%;
}
.btn {
	font-family: Arial;
	font-size: 15px;
    background: #ffc927;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #ffc927;
    border-radius: 5px;
    width: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn2 {
	font-family: Arial;
	font-size: 15px;
    background: white;
    color: #000000;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    width: 150px;
	margin-bottom: 20px;
}
.btn:hover {
    background: #FFD967;
    cursor: pointer;
}
.btn2:hover {
    background: #FFD967;
    cursor: pointer;
}
footer{
	    position: fixed;
    bottom: 0px;
    width: 100%;
}
.derechos {
    background: rgba(0, 0, 0, 0.72);
    padding: 15px 0px;
    color: #fff;
    text-align: center;
    font-size: 1em;
}
.derechos a {
    color: #0ad0ff;
}
@media (max-width: 768px){
.content-form {
        width: 100%; 
            border-radius: 0px;
}
.width-6 {
    width: 100%;
}
.btn {
    
        width: 100%;
}
 
}