#myInput {
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #customers {
    font-family: Arial;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    text-color:black;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 15px;
    
  }
  
  .wallpaper {
    height: 800px;
    width: 99%;
    background: url("../img/bg-table.png") no-repeat center;
    border-radius: 0 0 50% 50% / 4%;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #FFE491;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    text-color:black;
    color: white;
  }
  
  .myButton {
      background-color:black;
      border-radius:28px;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      align: center;
      padding:16px 100px;
  }
  .myButton:hover {
      background-color:black;
  }
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #E6E6E6;
  }
  
  .wrap-login100 {
    width: 1100px;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
  
  }